.Cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.CellY--0 {
  left: 0;
}
.CellY--1 {
  left: 60px;
}
.CellY--2 {
  left: 120px;
}
.CellY--3 {
  left: 180px;
}
.CellX--0 {
  top: 0;
}
.CellX--1 {
  top: 60px;
}
.CellX--2 {
  top: 120px;
}
.CellX--3 {
  top: 180px;
}

.CellZone--0 {
  background-color: #FFFFCC;
}
.CellZone--1 {
  background-color: #CCFF99;
}
.CellZone--2 {
  background-color: #CCFFCC;
}
.CellZone--3 {
  background-color: #FFFF99;
}
