.Cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.CellX--0 {
  left: 0;
}
.CellX--1 {
  left: 60px;
}
.CellX--2 {
  left: 120px;
}
.CellX--3 {
  left: 180px;
}
.CellY--0 {
  bottom: 0;
}
.CellY--1 {
  bottom: 60px;
}
.CellY--2 {
  bottom: 120px;
}
.CellY--3 {
  bottom: 180px;
}

.Zone--1 .Cell {
  background-color: #FFFFCC;
}
.Zone--4 .Cell {
  background-color: #FFFF99;
}
.Zone--2 .Cell {
  background-color: #CCFF99;
}
.Zone--3 .Cell {
  background-color: #CCFFCC;
}

