.Cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.Cell--chosen.CellZone--0,
.Cell--chosen.CellZone--3 {
  border: 2px solid #2f99ba;
}
.Cell--chosen.CellZone--1,
.Cell--chosen.CellZone--2 {
  border: 2px solid #2485a7;
}
.Cell--winning {
  background-color: #ffe35f !important;
}
.CellY--0 {
  left: 0;
}
.CellY--1 {
  left: 60px;
}
.CellY--2 {
  left: 120px;
}
.CellY--3 {
  left: 180px;
}
.CellX--0 {
  top: 0;
}
.CellX--1 {
  top: 60px;
}
.CellX--2 {
  top: 120px;
}
.CellX--3 {
  top: 180px;
}
.CellZone--0 {
  background: url('images/binding-light.png') repeat;
  background-color: #ebeeef;
}
.CellZone--1 {
  background: url('images/black-linen-2.png') repeat;
  background-color: #f7f7f7;
}
.CellZone--2 {
  background: url('images/black-linen-2.png') repeat;
  background-color: #ebeeef;
}
.CellZone--3 {
  background: url('images/binding-light.png') repeat;
  background-color: #ebeeef;
}
