.Game {
  flex-direction: column;
}

.Board {
  margin: 15px auto;
/*    border-radius: 3px;
  border: 4px solid #ccc;*/
}

.Header {
  display: flex;
  color: white;
  font-weight: 600;
  line-height: 32px;
  font-style: 32px;
  padding: 5px 10px;
  background: url('images/black-linen-2.png') repeat;
  background-color: #f7f7f7;
}

.Header-stats,
.Header-rules,
.Header-title {
  display: flex;
  cursor: pointer;
}

.Header-title {
  flex: 1 auto;
  justify-content: center;
}

.Parameters div,
.Parameters span {
  margin-bottom: 10px;
}

.Parameters {
  margin: 20px 0px;
}

.GameContent {
  min-width: 400px;
  max-width: 600px;
  margin: 20px auto;
}

.Game {
  display: flex;
}

.Board {
  position: relative;
  width: 240px;
  height: 240px;
}

.PlayerPieces {
  width: 240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.PlayerPieces-white,
.PlayerPieces-black {
  display: flex;
}

.PlayerPieces-whiteLabel,
.PlayerPieces-blackLabel {
  margin-right: 5px;
}

.PlayerPieces-draw {
  display: flex;
  flex: 1 auto;
  justify-content: flex-end;
}

.Controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Choice {
  max-width: 240px;
  margin: 10px auto;
  border-radius: 6px;

  background: url('images/black-linen-2.png') repeat;
  background-color: #f7f7f7;
}

.Choice-pieces {
  margin-top: 10px;
}

.ChoiceWrapper {
  padding: 10px 12px;
}

.Choice-title {
  display: inline-block;
  font-weight: 600;
}

.Close {
  float: right;
  cursor: pointer;
  font-weight: 900;
}

.Version {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.Version,
.Version a {
  font-size: 9px;
  color: #ccc;
}

.Modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 42px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: #222222;
  padding: 10%;
}

.StatsCardGroup {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.StatsCard {
  display: flex;
  flex-direction: column;
  color: #222222;
  height: 75px;
  width: 150px;
  background-color: white;
  border-radius: 5px;
}

.StatsCard-title {
  align-items: center;
  font-weight: 600;
  padding: 5px;
}

.StatsCard-value {
  display: flex;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 38px;
}

.StatsCard + .StatsCard {
  margin-left: 20px;
}

.PlayerTurn,
[name=ia_level] {
  margin: 0 10px;
}

.Credentials {
  margin: 0 20px;
}

.Credentials,
.Credentials a {
  font-size: 12px;
  color: #ccc;
}
