.Piece {
}

.Choice .Piece {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.Choice .Piece--notAllowed {
  opacity: .2;
  cursor: not-allowed;
}

.Piece--square {
  height: 40px;
  width: 40px;
}

.Piece--triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 46px 25px;
  border-color: transparent transparent #ccc transparent;
}

.Piece--triangle.Piece--black {
  border-color: transparent transparent black transparent;
}

.Piece--circle {
  height: 40px;
  width: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.Piece--cross {
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, transparent 35%, #ccc 35%, #ccc 65%,  transparent 65%),
    linear-gradient(to right, transparent 35%, #ccc 35%, #ccc 65%, transparent 65%);
}

.Piece--cross.Piece--black {
  background: linear-gradient(to bottom, transparent 35%, black 35%, black 65%,  transparent 65%),
    linear-gradient(to right, transparent 35%, black 35%, black 65%, transparent 65%);
}

.Piece--white:not(.Piece--triangle):not(.Piece--cross) {
  background: #ccc;
}

.Piece--black:not(.Piece--triangle):not(.Piece--cross) {
  background: black;
}
